<div class="publications">
  <p>See my full publications at <a href="https://tommydzh.github.io/publications/">the publication page</a>!</p>
  {% bibliography --group_by none --query @*[selected=true]* %}
  <p class="small text-muted" style="margin-bottom: 0.5rem;">
    * denotes equal contributions
  </p>
</div>
